<!-- templates/welcome.hbs -->
<!DOCTYPE html>
<html>
<head>
    <title>欢迎邮件</title>
</head>
<body>
    <h1>你好，{{ name }}！</h1>
    <p>感谢你注册 {{ platform }}。我们非常高兴你的加入！</p>
    <p>你的验证码是：{{ code }}</p>
    <p>请在 5 分钟内使用该验证码完成注册。</p>
    <p>如果你有任何问题，请随时联系我们。</p>
    <p>祝好，<br>{{ platform }} 团队</p>
</body>
</html>